@use 'modules/homepage'
@use "./var"

$size: 10px

body
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: var.$main-font

.room
    display: flex
    flex-direction: column

    .row
        display: flex

        .cell
            cursor: pointer

            &.heart
                height: $size * 5
                width: $size * 5
                background-color: #e1e1e1

            &.column
                height: $size
                width: $size
                background-color: #e1e1e1

            &.v-wall, &.h-wall
                background-color: #d2d2d2

            &.v-wall
                height: $size * 5
                width: $size
                
            &.h-wall
                height: $size
                width: $size * 5
            
            &.colored
                background-color: black

            &.door
                background-color: red

            &:hover
                background-color: gray
