// Centralization of all variables

// Breakpoints

$bp: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px, 'large': 1200px)

// Colors

$brown: #795548
$grey: #9B9B9B
$light-grey: #EBEBEB
$main-color: $brown

// Fonts

// Roboto

@font-face
    font-family: "roboto-heavy"
    src: url("../font/Roboto-Black.ttf") format("truetype")

@font-face
    font-family: "roboto-bold"
    src: url("../font/Roboto-Bold.ttf") format("truetype")

@font-face
    font-family: "roboto-medium"
    src: url("../font/Roboto-Medium.ttf") format("truetype")

@font-face
    font-family: "roboto"
    src: url("../font/Roboto-Regular.ttf") format("truetype")

@font-face
    font-family: "roboto-light"
    src: url("../font/Roboto-Light.ttf") format("truetype")

@font-face
    font-family: "roboto-thin"
    src: url("../font/Roboto-Thin.ttf") format("truetype")

// Ubuntu

@font-face
    font-family: "ubuntu-b"
    src: url("../font/Ubuntu-B.ttf") format("truetype")

@font-face
    font-family: "ubuntu-bi"
    src: url("../font/Ubuntu-BI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-c"
    src: url("../font/Ubuntu-C.ttf") format("truetype")

@font-face
    font-family: "ubuntu-l"
    src: url("../font/Ubuntu-L.ttf") format("truetype")

@font-face
    font-family: "ubuntu-li"
    src: url("../font/Ubuntu-LI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-m"
    src: url("../font/Ubuntu-M.ttf") format("truetype")

@font-face
    font-family: "ubuntu-mi"
    src: url("../font/Ubuntu-MI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-r"
    src: url("../font/Ubuntu-R.ttf") format("truetype")

@font-face
    font-family: "ubuntu-ri"
    src: url("../font/Ubuntu-RI.ttf") format("truetype")

$main-font: "ubuntu-r"
